*.js linguist-generated=true
*.md linguist-generated=true
*.ts linguist-generated=true
*.xml linguist-generated=true
*.yml linguist-generated=true
*.json linguist-generated=true
*.s linguist-generatedh=true
gradlew_wine linguist-generated=true
gradlew_win linguist-generated=true
gradlew_linux linguist-generated=true
gradlew linguist-generated=true
travis-gh-pages linguist-generated=true
prepare-tests linguist-generated=true
publish-built-version linguist-generated=true
*.jst linguist-generated=true
LICENSE linguist-generated=true
*.html linguist-generated=true

